<p>
<strong>Number of Tickets Completed within ETA:</srong> <%=@early%>
</p>

<p>
<strong>Number of Tickets Completed on ETA:</srong><%=@ontime%>
</p>

<p>
<strong>Number of Tickets Completed over ETA:</srong><%=@delay%>
</p>

<p>
<strong>Total Number of Tickets handelled :</srong><%=@trackers.count%>
</p>	